<!DOCTYPE html>
<html>
  <head>
    <title>ControleBancario</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap.min.css' , 'bootstrap-theme.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <style>
      html, body {
          max-width: 100%;
          overflow-x: hidden;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
