<h1>Cadastro de Cart達o</h1>
<%= render 'shared/notice' %>
<%= bootstrap_form_for(@cartao) do |f| %>
    <%= f.text_field :nome %>
    <%= f.number_field :limite, step: :any %>
    <%= f.form_group :tipo_cartao, label: { text: "Tipo: " } do %>
      <%= f.radio_button :tipo_cartao, "cartaogold", label: "Cart達o Gold", inline: true %>
      <%= f.radio_button :tipo_cartao, "cartaoprata", label: "Cart達o Prata", inline: true %>
      <%= f.radio_button :tipo_cartao, "cartaoblack", label: "Cart達o Black", inline: true %>
    <% end %>
    <%= f.submit "Cadastrar" %>
<% end %>
<br>
<%= link_to @usuario do %>
  <input type="button" class="btn btn-default" value="Voltar">
<% end %>